<div class="row">
<div class="col-lg-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon green pull-left" >
          <i class="fa fa-list-alt"></i>
        </div>
        <div class="title">PRICE DETAILS</div>
        <div class="comment">Here are our standard pricing details.</div>
      </rd-widget-body>
    </rd-widget>
  </div>  
  <div class="row">
      <div>
             <div class="col-md-6 col-md-offset-3" style="border: 1px solid transparent;box-shadow: 0 1px 1px rgba(0,0,0,.05);border-radius: 2px;border-color: #e9e9e9;background:#FFFFFF;padding-left: 0px;padding-right: 0px;">
                 <div>
                         <div class="row">
                             <div class="col-xs-12 col-sm-12 col-md-12" style="color: #767676;background-color: #f6f6f6;padding: 0px 15px;border-bottom: 1px solid #e9e9e9;line-height: 30px;">
                                 <h5 style="margin-top: 22px; margin-bottom: 20px; color: #767676; font-family: Montserrat;line-height: 30px;"><span class="menu-icon fa fa-list-alt"></span> PRICE DETAILS </h5>
                             </div>
                            <div class="message">
                              <p style="margin-left: 15px;margin-right: 15px;">
                                  <b>Peak Hours</b><br>
                                      <p style="margin-left: 40px;margin-right: 15px;">
                                          Morning 07:00 AM to 10:00 AM <br>
                                          Evening 05:00 PM to 09:00 PM<br>
                                          For the ride starting between these time will be:<br>
                                          <p style="margin-left: 80px;margin-right: 15px;"> 
                                            <table style="margin-left: 80px;margin-right: 15px;" border="0">
                                                <tr><td>First Hour</td><td style="padding-left: 20px;"><span class="menu-icon fa fa-rupee"></span> 150</td></tr>
                                                <tr><td>Every minute after first hour</td><td style="padding-left: 20px;"><span class="menu-icon fa fa-rupee"></span> 3</td></tr>  
                                            </table>  
                                          </p>
                                      </p>
                              </p> <hr>
                              <p style="margin-left: 15px;margin-right: 15px;">
                                  <b>Normal Hours</b><br>
                                  <p style="margin-left: 40px;margin-right: 15px;">
                                          Morning 10:00 AM to 05:00 PM <br>
                                          For the ride starting between these time will be:<br>
                                          <p style="margin-left: 80px;margin-right: 15px;"> 
                                            <table style="margin-left: 80px;margin-right: 15px;" border="0">
                                                <tr><td>First Hour</td><td style="padding-left: 20px;"><span class="menu-icon fa fa-rupee"></span> 100</td></tr>
                                                <tr><td>Every minute after first hour</td><td style="padding-left: 20px;"><span class="menu-icon fa fa-rupee"></span> 2.5</td></tr>  
                                            </table>  
                                          </p>
                                      </p>
                              </p> <hr>
                              <p style="margin-left: 15px;margin-right: 15px;">
                                  <b>Night Hours</b><br>
                                  <p style="margin-left: 40px;margin-right: 15px;">
                                          Morning 09:00 PM to 07:00 AM <br>
                                          For the ride starting between these time will be:<br>
                                          <p style="margin-left: 80px;margin-right: 15px;"> 
                                            <table style="margin-left: 80px;margin-right: 15px;" border="0">
                                                <tr><td>First Hour</td><td style="padding-left: 20px;"><span class="menu-icon fa fa-rupee"></span> 250</td></tr>
                                                <tr><td>Every minute after first hour</td><td style="padding-left: 20px;"><span class="menu-icon fa fa-rupee"></span> 4</td></tr>  
                                            </table>  
                                          </p>
                                      </p>
                              </p> 
                            </div>
                        </div>
                 </div>
             </div>
         </div>
  </div>
</div>