<div class="row">
<div class="col-lg-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon green pull-left" >
          <i class="fa fa-newspaper-o"></i>
        </div>
        <div class="title">USER MANUAL</div>
        <div class="comment">Here you can refer to our user manual.</div>
      </rd-widget-body>
    </rd-widget>
  </div>  
  <div class="row">
      <div>
             <div class="col-md-8 col-md-offset-2" style="border: 1px solid transparent;box-shadow: 0 1px 1px rgba(0,0,0,.05);border-radius: 2px;border-color: #e9e9e9;background:#FFFFFF;padding-left: 0px;padding-right: 0px;">
                 <div>
                         <div class="row">
                             <div class="col-xs-12 col-sm-12 col-md-12" style="color: #767676;background-color: #f6f6f6;padding: 0px 15px;border-bottom: 1px solid #e9e9e9;line-height: 30px;">
                                 <h5 style="margin-top: 22px; margin-bottom: 20px; color: #767676; font-family: Montserrat;line-height: 30px;"><span class="menu-icon fa fa-newspaper-o"></span> USER MANUAL </h5>
                             </div>
                            <div class="message">
                              <p style="margin-left: 15px;margin-right: 15px;">
                                  <b>STEP - 1</b><br>
                                      <p style="margin-left: 40px;margin-right: 15px;">
                                      1. Sign up with your name, email id and phone number and become a member of pubdrivers. 
                                      </p><p style="margin-left: 40px;margin-right: 15px;">
                                      2. Once you sign up, you will be automatically login to your account.
                                      </p><p style="margin-left: 40px;margin-right: 15px;">
                                      3. For the next time you can use the registered email id or phone number as the user name with the password to log in to your account. 
                                      </p><p style="margin-left: 40px;margin-right: 15px;">
                                      4. If you forgot your password, you can request to reset by clicking in forgot password link.</p> 
                              </p><hr>
                              <p style="margin-left: 15px;margin-right: 15px;">
                                  <b>STEP - 2</b><br>
                                      <p style="margin-left: 40px;margin-right: 15px;">
                                      1. Once you login, you can book a driver by clicking on Book Driver link from left navigation menu. 
                                      </p><p style="margin-left: 40px;margin-right: 15px;">
                                      2. Select the below options:
                                          <p style="margin-left: 80px;margin-right: 15px;">
                                          a. Pub Name <br>
                                          b. Transmission type of your car. We need to know whether your car is automatic gear or manual gear. We need to know this information while booking, so that we can filter and get you the best driver for your service.<br>
                                          c. Type of your car. We need to know the type of your car like whether it is hatchback or sedan or suv or mpl or luxury. We need to know this information while booking, so that we can filter and get you the best driver for your service.<br>
                                          d. aggree to the terms and condition by checking the checkbox. 
                                          </p>
                                      </p>
                                      <p style="margin-left: 40px;margin-right: 15px;">
                                      3. Click on the button named "Book a Driver".
                                      </p><p style="margin-left: 40px;margin-right: 15px;">
                                      4. By this the request will be sent to pubdrivers and you will be getting a booking reference number.</p> 
                              </p><hr>
                              <p style="margin-left: 15px;margin-right: 15px;">
                                  <b>STEP - 3</b><br>
                                      <p style="margin-left: 40px;margin-right: 15px;">
                                      1. Now you can track the booking from the booking list menu. You can see the history of your booking here. The last booking record will be listed at the top.
                                      </p>
                                      <p style="margin-left: 40px;margin-right: 15px;">
                                      2. Driver will be assinged to your request within five minutes of your booking. Once the driver is assiged, you can see the driver details on cliking the view detail button. 
                                      </p><p style="margin-left: 40px;margin-right: 15px;">
                                      3. Driver will contact you or you can contact the driver if you need any clarification.</p>
                              </p><hr>
                              <p style="margin-left: 15px;margin-right: 15px;">
                                  <b>STEP - 4</b><br>
                                      <p style="margin-left: 40px;margin-right: 15px;">
                                      1. Driver will come to the venue from were you booked. You can handover the car key to the driver. 
                                      </p>
                                      <p style="margin-left: 40px;margin-right: 15px;">
                                      2. Driver might ask you few clarification to get to know the condition of the car. So that he can drive accordingly. 
                                      </p><p style="margin-left: 40px;margin-right: 15px;">
                                      3. The trip time starts when the driver trigger start from the driver app. You can monitor the live status from your booking detail page. </p>
                              </p><hr>
                              <p style="margin-left: 15px;margin-right: 15px;">
                                  <b>STEP - 5</b><br>
                                      <p style="margin-left: 40px;margin-right: 15px;">
                                      1. When you reach the destination the driver triggers the end trip from the driver app. 
                                      </p>
                                      <p style="margin-left: 40px;margin-right: 15px;">
                                      2. Now the total trip charge will be generated. You can see the status and price break ups from the details page. 
                                      </p><p style="margin-left: 40px;margin-right: 15px;">
                                      3. The soft copy of the bill will be send to your registed email id. </p>
                                      <p style="margin-left: 40px;margin-right: 15px;">
                                      4. You can settle the amount by cash. </p>
                                      <p style="margin-left: 40px;margin-right: 15px;">
                                      5. By this the trip ends. </p>
                              </p><hr>
                            </div>
                        </div>
                 </div>
             </div>
         </div>
  </div>
</div>